# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/

# Environment variables
.env
.venv
env/
venv/

# VS Code / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Static files (optional if collected)
staticfiles/

# Python packaging
build/
dist/
*.egg-info/

# Migrations (optional: only ignore if you want fresh setup)
# */migrations/*.py
# !*/migrations/__init__.py